.carousel-item {
  background: #fff;
}
.carousel__caption {
  color: #000;
  font-weight: 300;
  width: 30%;
}
.carousel__caption h2 {
  font-size: 40px;
}
.carousel__icon {
  width: 45px;
}
.carousel-control-next,
.carousel-control-prev {
  width: 45px;
}
.carousel-control-prev {
  left: 10px;
}
.carousel-control-next {
  right: 10px;
}
.carousel__icon--prev {
  transform: rotate(180deg);
}
.carousel__btn-buy {
  background: #f8b653;
  padding: 10px 36px 12px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #fff;
  outline: 2px solid #00000021;
  line-height: 15px;
  border: 0;
}
.carousel-indicators [data-bs-target].active {
  background-color: #00000021;
}
.carousel__image {
  height: 383px;
  width: 689px;
}

.carousel__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-feature {
  background-color: #fffcfc;
  padding: 40px 0 90px 0;
}
.product-feature__heading {
  width: 700px;
}
