.header__top {
  padding: 6px 24px;
  background: #000000;
}

.header__top--logo {
  width: 116px;
}

.header__top--search,
.header__top--cart {
  color: #ffffff;
  font-size: 30px;
  background: transparent;
  outline: none;
  border: none;
  font-weight: 300;
  line-height: 36px;
}

.header__top--search > img,
.header__top--cart > img {
  width: 31px;
}

.header__top--button {
  background: transparent;
  color: #ffffff;
  outline: none;
  border: none;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
}

.header__navbar {
  padding: 0 24px;
}

.header__navbar--link {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  padding: 12px 0;
  opacity: 0.7;
}

.header__navbar--link-active {
  border-bottom: 1px solid #000;
  opacity: 1;
}

.carousel-item {
  background: #fff;
}
.carousel__caption {
  color: #000;
  font-weight: 300;
  width: 30%;
}
.carousel__caption h2 {
  font-size: 40px;
}
.carousel__icon {
  width: 45px;
}
.carousel-control-next,
.carousel-control-prev {
  width: 45px;
}
.carousel-control-prev {
  left: 10px;
}
.carousel-control-next {
  right: 10px;
}
.carousel__icon--prev {
  transform: rotate(180deg);
}
.carousel__btn-buy {
  background: #f8b653;
  padding: 10px 36px 12px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #fff;
  outline: 2px solid #00000021;
  line-height: 15px;
  border: 0;
}
.carousel-indicators [data-bs-target].active {
  background-color: #00000021;
}
.carousel__image {
  height: 383px;
  width: 689px;
}

.carousel__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-feature {
  background-color: #fffcfc;
  padding: 40px 0 90px 0;
}
.product-feature__heading {
  width: 700px;
}

.product__card {
  background: #f8f8f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  text-align: start;
  text-decoration: none;
  color: #000;
  font-size: 24px;
}

.product__card--image {
  width: 100%;
  object-fit: cover;
  transition: all 0.5s;
  padding: 0 20px;
}

.product__card:hover .product__card--image {
  transform: scale(1.1);
}

.product__card--title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  height: 56px;
  overflow: hidden;
}
.product__card--desc {
  font-size: 20px;
  color: #cbc9c9;
  line-height: 24px;
  font-weight: 300;
  height: 72px;
  overflow: hidden;
}
.product__card--btn {
  font-weight: 400;
  padding: 17px 32px;
  background: #9de167;
  line-height: 29px;
}
.product__card--price {
  font-weight: 600;
  background: #dedddc;
  text-align: center;
  line-height: 63px;
}

.product__card--unlike,
.product__card--like {
  position: absolute;
  top: 10px;
  right: 10px;
}
.product__card--unlike {
  font-size: 40px;
  line-height: 40px;
  color: #fb0b0b;
}
.product__card--like {
  font-size: 26px;
  line-height: 40px;
}

footer {
  background-color: #fff;
}
.footer__col:not(:first-child) {
  border-left: 1px solid #dedddc;
}

.footer__col--title {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 700;
}
.footer__col--subtitle {
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}
